
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" >

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">


    <script src="{% static 'js/all.min.js'' %}" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/scripts.js' %}"></script>

</head>
<body>



<!-- Page Content -->
<div class="container " dir="ltr">
    <div class="row">

        <div class="col-md-offset-5 col-md-4 text-center">
            <h1 class='text-white'>ورود به ناحیه کاربری </h1>


            <div class="form-login"></br>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                <h4>ورود</h4>
                </br>


                <input type="text" name="username" class="form-control input-sm chat-input" placeholder="نام کاربری"/>
                </br>
 
                </br>
                <input type="password" name="password" class="form-control input-sm chat-input" placeholder="گذر واژه"/>
                </br></br>
    
                {% for  message in messages %}

                <span class="text-danger text-bold">
                    {{message}}
                </span>

                {% endfor %}
                <div class="wrapper">
                        <span class="group-btn">
                            
                            <input type="submit"class="btn btn-danger btn-md" value="ورود"/>
                        </span>
                </div>
                </form>

            </div>
        </div>
        
    </div>
    </br></br></br>
    <!--footer-->
    <div class="footer text-white text-center  fixed-bottom bg-dark ">
        <p> دیزاین توسط محمدصالح نوری </p>
    </div>
    <!--//footer-->
</div>


</body>
</html>