{%extends 'base.html'%}


{% block content %}

<h2>لیست حقوقی (شرکتها) </h2>


<div class="container">

<a href="{% url 'add_company' %}" class="btn btn-primary"> <i class="fa fa-user-plus"></i> افزودن مشتری جدید</a>
<br>
{% if page_obj %}


<br>

<form>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      
        <button class="btn btn-success input-group-text"  type="submit">جستجو  <i class="fa fa-search"></i></button>
    
    </div>

    <input class="form-control" id="inlineFormInputGroupUsername2" placeholder="نام٬ نام خانوادگی٬ شماره موبایل "  name="search" value="{{ request.GET.search }}">
  
  </div>
 
  
</form>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
<th>نام مشتری</th>
<th>حوضه فعالیت</th>

<th>موبایل</th>
<th>تلفن</th>
<th>ویرایش</th>
<th>حذف</th>
</tr>
</thead>
<tbody>
  {% for customer in page_obj %}

  <tr>
    <td>{{ customer.name }} {{customer.family}}</td>
    <td>{{ customer.career }}</td>
    <td>{{ customer.tel }}</td>
    <td>{{ customer.mobile }}</td>
    <td><i class="fa fa-edit text-primary"></i></td>
    <td><i class="fa fa-trash text-danger"></i></td>



  </tr>







  {% endfor %}
</tbody>
{% if page_obj.has_other_pages %}
<ul class="pagination">
  {% for page in page_obj.paginator.page_range %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
  {% endfor %}
</ul>
{% endif %}
</div>
{%else%}
<br>
<h4>مشتری برای نمایش موجود نیست</h4>
{%endif%}


</div>
{% endblock %}